* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    background-color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}